*{
    margin: 0;
    padding: 0;
}

.imgcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;   /* Button vertikal mittig zum Bild */
  justify-content: center;
  gap: 1.5rem;           /* Abstand zwischen Button und Bild */
  margin-top: 5rem;}


.profilepicture {
    width: 20rem;
    height: auto;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}